<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Document</title>
</head>
<body>

<div class="page-header bg-primary text-white text-center">
  <span class="h4">Registro de clientes</span>
</div>

<form action="codigo.php" method="POST" style="width:35%;margin:0 auto;">

  <fieldset>

    <legend class="text-center header text-success">Datos personales</legend>
    <div class="form-group">

      <label for="nom">Nombre</label>
      <input type="text" class="form-control" name="nombre">


    </div>
    <div class="form-group">

      <label for="email">Correo:</label>
      <input type="text" class="form-control" name="correo">


    </div>
    <div class="form-group">

      <label for="">Teléfono</label>
      <input type="text" class="form-control" name="tel">


    </div>
    <div class="form-group">

      <label for="">Dirección</label>
      <input type="text" class="form-control" name="direccion">


    </div>
    <div class="form-group">
      <div class="checkbox"></div>

      <label for="">Recordarme</label>
      <input type="checkbox" name="direccion">
    </div>


    </div>

    <div class="form-group">


      <input type="submit" class="btn btn-success form-control" name="registrar">


    </div>

  </fieldset>


</form>



</div>
</html>